antlr4-python3-runtime
antlr4-tools
black
cfpq-data
grammarinator @ git+https://github.com/renatahodovan/grammarinator.git@f3ffa71
networkx==3.2.1
pre-commit
pydot~=2.0.0
pyformlang~=1.0.1
pytest~=8.0.1
pytest-xdist
scipy
